/*
Kaitlyn Kacludis
09/17/2026
styles.css
*/

/*
CSS reset elps prepare your code for a cascading style sheet.
*/
body, header, nav, footer, main, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: none;
}

 header {
    display: flex;
    flex-direction: column;
}
img {
    max-width: 40%;
    border:.4em solid #2a1f14;
}

h1 {
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: light;
    clear: both;
    text-align: center;
}

header {
    background-color: #C4A484;
}
nav {
        background-color: #2a1f14;
    }
    nav ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav li {
        display: block;
        font-size: 1.3em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
        border-style: solid;
        border-width: 0.5px;
        border-color: blanchedalmond;
    }
    nav li a {
        display: block;
        color: #f6eee4;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 2em;
        padding-left: 2em;
        text-decoration: none;
    }

    p {
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    main {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
        background-color: #f6eee4;
    }

    .work {
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
    }

    .list {
        font-weight: lighter;
        font-size: 1em;
        background-color: #C4A484;
        max-width: 50%;
        max-height: 60%;
        border-radius: 8px;
    }

        .round {
            background-color: #2a1f14;
            color: #f6eee4;
            text-align: center;
        }
    
    footer {
        background-color: #2a1f14;
        color: #f6eee4;
    }

    footer a {
        color: #f6eee4;
        text-decoration: none;
    }

    .graph {
        border-radius: 20px;
    }

      /*
    Media Query for Tablet Viewport
    */

    @media screen and (min-width: 620px), print {
        /* Tablet viewport: show tab-desk class, hide mobile class*/

        .tab-desk {
            display: block;
        }
        
        .mobile {
            display: none
        }
    
        /*Tablet viewport: style rules for nav area*/
        nav li {
            border-top: none;
            display: inline-block;
            font-size: 1.25em;
        }

        nav li a {
            padding: 0.5em;
        }
    }
        @media screen and (min-width: 1000px), print {

        /* Desktop Viewport: Style rules for nav area */
        nav li {
            font-size: 1.5em;
        }

        nav li a {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 1.5em;
            padding-right:1.5em;
            border-color: none;
        }

        nav li a:hover {
            color: #2a1f14;
            background-color: #f6eee4;
        }
        
    }
    /*Desktop Viewport: Style rules for main content*/
    @media screen and (min-width: 1921px), print {
       
        #wrapper {
            width: 1920px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }

        main {
            background-color: #f6eee4;
        }
    }
